.Slide {
  align-items: center;
  justify-content: center;
}
.max-wdith {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.text {
  color: var(--dl-color-scheme-white);
}
.rootClassName4 {
  background-color: var(--dl-color-scheme-darkblue);
}
